#container {
	background: #eee url(grid.gif) 0 0;
	background-size: 10px;
}

/* form */

label {
	display: block;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 10px 0;
	text-align: left;
}

input {
	float: right;
}

input[type="number"] {
	padding: 5px;
}

input[type="checkbox"] {
	position: relative;
		top: -1px
}